@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0%;
    margin: 0%;
}

body{

    background-color: gray;


}

.horario h5{

    display: flex;
    justify-content: right;
    padding: 10px 0px;
    max-width: 1110px;
    margin: 0px 0px 0px;
    color: white;
    font-weight: bold;
    background-color: rgb(211, 5, 5);
    
}

header{
    
    background-color: red;
    padding: 0px 0px 30px;
}

header a {

    text-decoration: none;
}

nav{

    align-items: center;
    justify-content: center;
    

}

nav a:hover{
    
    border: 1px solid rgb(255, 255, 255);
    transition: 1s;
    transform: scale(1.s);
    opacity: 2;
}

nav a {
    letter-spacing: 2px;
    padding: 10px;
    color: rgb(255, 255, 255);
    font-weight: bold;

}

.menu{

    

}


.conteiner{
    
    display: flex;
    margin: auto;
    max-width: 1110px;
    justify-content: space-between;

}

.inp input{

    width: 76%;
    height: 100%;
    border: none;
    outline: none;

}

.inp button{

    width: 19%;
    height: 100%;
    cursor: pointer;
    background-color: rgba(240, 248, 255, 0);
    border: none;
    font-size: 15px;
}

.inp{
    margin: 30px 30px 0px;
    padding: 4px;
    width: 350px;
    height: 50px;
    background-color: white;
    display: flex;
    justify-content: space-between;
}



.img01{

    position: relative;
    width: 17vw;
    padding: 6px 10px 0px;
    height: 10vh;
    
}



section{

    background-color: gray;

}